{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Edit Hotel
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Add your custom styles here */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        .header {
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h2>Edit Hotel</h2>
        </div>
        <ul>
            <li>Id: {{ hotel.id }}</li>
            <li>Nom Hotel: {{ hotel.nomhotel }}</li>
            <li>Capacite: {{ hotel.capacite }}</li>
            <li>Prix: {{ hotel.price }}</li>
            
            {% if hotel.image %}
            <img src="{{ hotel.image.url }}" alt="{{ hotel.nomhotel }} Image" class="img-fluid rounded">
              {% else %}
                <p class="mt-3">No image available</p>
              {% endif %}
            
        </ul>
    </div>
{% endblock %}